[submodule "submodules/LCMGL"]
	path = submodules/LCMGL
	url = git@github.com:rdeits/LCMGL.jl.git
[submodule "submodules/SpatialFields"]
	path = submodules/SpatialFields
	url = git@github.com:rdeits/SpatialFields.jl.git
[submodule "submodules/RigidBodyDynamics"]
	path = submodules/RigidBodyDynamics
	url = git@github.com:tkoolen/RigidBodyDynamics.jl.git
[submodule "submodules/DrakeVisualizer"]
	path = submodules/DrakeVisualizer
	url = git@github.com:rdeits/DrakeVisualizer.jl.git
